@import url("https://fonts.googleapis.com/css2?family=Futura&display=swap");

.xyx {
  height: 100vh;
  background-color: #fff;
}

.hero {
  background-image: url("./assets/Bx1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 100% 35%;
  border-bottom-right-radius: 100% 35%;
  bottom: 0;
}

.hero-img-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  margin-right: 1rem;
}

.hero-img-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin-left: 3rem;
}

.tweet1 {
  width: 20vw;
  transform: rotate(10deg);
}

.tweet2 {
  width: 20vw;
  transform: rotate(-10deg);
  margin-top: 2rem;
}
.tweet21 {
  width: 15vw;
  transform: rotate(-7deg);
}

.tweet11 {
  width: 20vw;
  transform: rotate(3deg);
}

.hero-text-Q {
  font-size: 4rem;
  font-weight: 700;
  color: #1ce81f;
  text-align: center;
  margin-top: 2rem;
  font-family: "Futura", sans-serif;
  width: 40vw;
  letter-spacing: -1px;
  line-height: 4.8rem;
}
.hero-text-ans {
  font-size: 2rem;
  color: #78ecb0;
  text-align: center;
  margin-top: 4rem;
  font-family: "Futura", sans-serif;
  width: 40vw;
}
.hero-text-btn {
  display: block;
  /*align this button to center*/
  margin: 0 auto;

  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #007bff;
  font-family: "Futura", sans-serif;
}
